<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.regional.autonoma.corporacion.eva">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <!-- <uses-permission android:name="android.permission.READ_CONTACTS" /> -->
    <!-- <uses-permission android:name="android.permission.GET_ACCOUNTS" /> -->
    <!-- <uses-permission android:name="android.permission.READ_PROFILE" /> -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/eva_logo_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/EvaTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/EvaTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".coursesActivity"
            android:label="@string/title_activity_courses"
            android:parentActivityName=".MainActivity"
            android:theme="@style/EvaTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.regional.autonoma.corporacion.eva.MainActivity" />
        </activity>
        <activity
            android:name=".lessonsActivity"
            android:label="@string/title_activity_lessons"
            android:parentActivityName=".coursesActivity"
            android:theme="@style/EvaTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.regional.autonoma.corporacion.eva.coursesActivity" />
        </activity>
        <activity
            android:name=".playerAndResourcesActivity"
            android:label="@string/title_activity_player_and_resources"
            android:parentActivityName=".lessonsActivity"
            android:theme="@style/EvaTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.regional.autonoma.corporacion.eva.lessonsActivity" />
        </activity>

        <provider
            android:name=".data.evaProvider"
            android:authorities="@string/content_authority" />

        <activity
            android:name=".FullscreenPlayerActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_fullscreen_player"
            android:screenOrientation="landscape"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.regional.autonoma.corporacion.eva.MainActivity" />
        </activity>
        <activity
            android:name=".catalogActivity"
            android:label="@string/title_activity_catalog"
            android:parentActivityName=".MainActivity"
            android:theme="@style/EvaTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.regional.autonoma.corporacion.eva.MainActivity" />
        </activity>
        <activity
            android:name=".multipleLoginActivity"
            android:label="@string/title_activity_multiple_login"
            android:theme="@style/EvaTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.regional.autonoma.corporacion.eva.MainActivity" />
        </activity>
        <activity
            android:name=".registerActivity"
            android:label="@string/register_activity_label"
            android:theme="@style/EvaTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.regional.autonoma.corporacion.eva.multipleLoginActivity" />
        </activity>
    </application>

</manifest>